<div class="container-fluid product_show" data-behavior="product_view_for_example_template">
  <section>
    <div class="row">
      <ol class="breadcrumb">
        <% breadcrumb_for(product, "sidebar") do |breadcrumb_item| %>
            <li><a href="#"><%= breadcrumb_item.title %></a></li>
        <% end %>
      </ol>
      <div class="col-xs-8">
        <!-- heading -->
        <h1 class="heading__inner__title" data-attribute="title"><%= product.title %></h1>
        <!-- /heading -->
        <section>
          <div>
            <p>This is a custom template for the "Product" template definition and has "colour" and "size" added to it</p>
            <h4>Colour:</h4>
            <span data-attribute="colour"><%= product.template_attributes.fetch(:colour, "not set").html_safe %></span>
            <h4>Size</h4>
            <span data-attribute="size"><%= product.template_attributes.fetch(:size, "not set") %></span>
          </div>
          <div>
            <% if product.asset_files.present? %>
              <%= ix_picture_tag(product.asset_files[0].s3_url, { w: 580, h: 300, fit: 'fit', fm: 'jpg',bg: "ffffff", auto: "format" }) %>
            <% end %>
          </div>
        </section>
      </div>
      <div class="col-xs-4">
        <section>
          <div>
            <h2><%= product.title %></h2>

            <!-- price -->
            <h3 data-product-attribute="price">
              <%= number_to_currency(variant.price) %>
            </h3>
            <!-- price end-->


            <!-- availability -->
            <p>
                <span data-product-attribute="stock">
                    <%= product_stock_level_for(product) %> in stock
                </span>
            </p>
            <!-- availability end -->

            <!-- description  -->
            <article>
              <p><%= product.description %><a href="#product-description">read more.</a></p>
            </article>
            <!-- description end -->
          </div>
          <%= simple_form_for(FlexCommerce::LineItem.new(item_id: variant.id, item_type: "Variant", unit_quantity: 1), as: :line_item, url: cart_line_items_path, class: "pricing__form", data: { behaviour: "add_to_basket_form" }) do |f| %>
              <div class="form-group">
                <div data-behavior="product_variant_selector">
                  <%= f.label(:item_id, t(".variant")) %>
                  <%= f.select(:item_id, product.variants.map { |v| ["#{v.title} - #{number_to_currency(v.price)}", v.id] }) %>
                  <%= f.hidden_field(:item_type) %>
                </div>
                <%= f.label(:unit_quantity, "Quantity") %>
                <%= f.number_field(:unit_quantity, min: 1, step: 1, pattern: "\\d*", class: "form-control", required: "required") %>
              </div>
              <%= f.submit value: t("products.show.submit_button"), class: "btn btn-lg btn-block btn-primary", data: { action: "add_to_basket" } %>
          <% end %>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2 class="subtitle"><%= t(".description") %></h2>
        <article itemprop="description" data-product-attribute="description">
          <%= product.description %>
        </article>
      </div>
      <div class="col-xs-12">
        <h2 class="subtitle"><%= t(".specifications") %></h2>
        <div>
          <dl class="row">
            <dt>SKU</dt>
            <dd itemprop="sku"><%= product.sku %></dd>
            <% product.meta_attributes.each do |key, data| %>
              <dt><%= key %></dt>
              <dd>
                <% if data[:value].blank? %>
                  &mdash;
                <% else %>
                  <%= data[:value] %>
                <% end %>
              </dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
  </section>
</div>
