<div data-behavior="cart_view">
  <%= simple_form_for :cart, url: cart_path, method: :patch do |f| %>
  <section class="container-fluid">
    <header class="row">
      <div class="col-xs-12 col-sm-6">
        <h1 class="pull-sm-left"><%= t(".page_title") %></h1>
      </div>
    </header>
    <% if cart.empty? %>
        <p><%= t(".empty") %></p>
    <% else %>
        <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>
                  <th colspan="2"><%= t(".item_header") %></th>
                  <th><%= t(".reference_header") %></th>
                  <th><%= t(".price_header") %></th>
                  <th><%= t(".quantity_header") %></th>
                  <th><%= t(".total_header") %></th>
                </tr>
            </thead>
            <tbody>
            <% cart.line_items.each do |line_item| %>
                <tr data-behavior="cart_line_item">
                  <td>
                    <a href="/products/essentials-sonar-large-sink-cabinet-wall-cabinet-and-mirror-furniture-bundle">
                      <img src="//cdn.shopify.com/s/files/1/0845/2185/products/FSO003_7b67c04f-bf52-41e8-9d3b-0c5d7fc2ffcd_small.png?v=1436864683" srcset="//cdn.shopify.com/s/files/1/0845/2185/products/FSO003_7b67c04f-bf52-41e8-9d3b-0c5d7fc2ffcd_thumb.png?v=1436864683 2x">
                    </a>
                  </td>
                  <th data-attribute="title">
                    <%= line_item.title %>
                  </th>
                  <td data-attribute="reference">
                    "reference"
                  </td>
                  <td data-attribute="unit_price">
                    <%= number_to_currency(line_item.unit_price) %>
                  </td>
                  <td>
                    <span class="basket-quantity">
                        <%= link_to t(".decrement"), { action: :change, line_item_id: line_item.id, quantity: line_item.unit_quantity - 1 }, data: { behavior: "remove_one_line_item" }, title: t(".decrement_title") %>
                        <span class="basket-quantity__value" data-attribute="unit_quantity">
                            <%= line_item.unit_quantity %>
                        </span>
                        <%= link_to t(".increment"), { action: :change, line_item_id: line_item.id, quantity: line_item.unit_quantity + 1 }, data: { behavior: "add_one_line_item" }, title: t(".increment_title") %>
                    </span>
                  </td>
                  <td data-attribute="total">
                    <%= number_to_currency(line_item.sub_total) %>
                  </td>
                </tr>
            <% end %>
            <% cart.discount_summaries.each do |summary| %>
                <tr data-behavior="cart_discount_summary">
                  <td></td>
                  <td colspan="2" data-attribute="name"><%= summary.name %></td>
                  <td data-attribute="total"><%= number_to_currency(summary.total)  %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

        <div class="row" data-behavior="cart_summary">
          <div class="col-xs-12 col-sm-3 pull-right">
            <p>
              <%= t(".sub_total") %>
              <span class="pull-right" data-attribute="sub_total">
                <%= number_to_currency(cart.sub_total) %>
              </span>
            </p>
            <p>
              <%= t(".total_discount") %>
              <span class="pull-right" data-attribute="total_discount">
                <%= number_to_currency(cart.total_discount) %>
              </span>
            </p>
            <p>
              <strong><%= t(".total") %></strong>
              <span class="pull-right" data-attribute="total">
                <%= number_to_currency(cart.total) %>
              </span>
            </p>
            <%= link_to "Paypal", url_for(controller: :transactions, action: :new_with_gateway, gateway: :paypal, only_path: true) ,class: "btn btn-sm btn-info", data: { action: :select_paypal } %>
            <%= link_to t(".checkout"), edit_cart_path, class: "btn btn-block btn-primary pull-right", data: { action: "checkout" } %>
          </div>
        </div>
        <div>
          <%= f.label(:coupon_code, required: false) %>
          <%= f.text_field :coupon_code, data: { input: "coupon_code" } %>
          <%= f.error :coupon_code, data: { behavior: :coupon_code_field_error } %>
          <%= f.submit(t(".update"), data: { action: "update_cart" }) %>
        </div>
    <% end %>
  </section>
  <% end %>
</div>