<strong><%= facet["label"] %></strong><br />
<div>
  from <input type="number" name='<%= facet_checkbox_name(facet_name: facet["source"], attribute_name: "gt") %>' id='<%= facet_checkbox_name(facet_name: facet["source"], attribute_name: "gt") %>'>
  to <input type="number" name='<%= facet_checkbox_name(facet_name: facet["source"], attribute_name: "lt") %>' id='<%= facet_checkbox_name(facet_name: facet["source"], attribute_name: "lt") %>'>
</div>
